<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      <p style="text-align:center; font-size: 30px;">Contact Us</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <ion-item>
      <ion-input label="Name" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email Address" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Phone Number" labelPlacement="floating" placeholder="Enter number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Company Name" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label>Do you need training to pilot the drone?</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox style="font-size:12.5px;" justify="start">I need training to get the licence.</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox style="font-size:12.5px;" justify="start"> I need pilots.</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-input label="More Information" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <br />
    <br />
    <ion-button shape="round" color="light" routerLink="/home">Back</ion-button>
    <ion-button id="success" shape="round">Send</ion-button>
    <ion-alert trigger="success" class="custom-alert" header="Thank you! Your message has been successfully sent!"></ion-alert>
   
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>
      <p style=text-align:center;>The technology impacts you to good business</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
