<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      <p style="text-align:center; font-size: 30px;">Welcome to Drone Space</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  <div id="div1">
    <div>
      <h1 id="container">Have you ever heard of drone deliveries?                                                                                      
        Here we have the best drone models for you and for your customers! They will safely deliver your product, in a short period of time and at the best price for you!                                       
       Install our app to see the drones available in your location, we have the best solutions for the future that has already begun!!
      </h1>
    </div>  
    
        <div id="div2">
          <a href="https://www.apple.com/app-store/">
            <img src="..\assets\appstore.jpg">
          </a>
          <a href="https://play.google.com/store/apps/">
            <img src="..\assets\googleplay.jpg">
          </a>
        </div>
      <ion-button expand="block" routerLink="/drones">Click Here to Contact Us</ion-button>
      <ion-button (click)="btnClicked()"expand="block" fill="outline">See our drones</ion-button>
    
  </div> 
  
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>
      <p style=text-align:center;>The technology impacts you to good business</p>
    </ion-title>
  </ion-toolbar>
</ion-footer>
