#container {
  text-align: center;
  margin-bottom: 170px;
  margin-left: 500px;  
  margin-right: 500px; 
  font-size: 26px;

}
#div1{
  background-image: url('../../assets/drone_image.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
#div2{
  margin-left: 530px;
}



